option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: main.settings
    PYTHONUNBUFFERED: "1"
    DEBUG: "false"
  aws:elasticbeanstalk:container:python:
    WSGIPath: main.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
